.tabs {
  &__wrapper-button {
    color: #fff;
    display: flex;
    border-bottom: 1px solid #c1c1c1;
  }

  &__button {
    cursor: pointer;
    list-style: none;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: .5rem;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;

    &:not(:last-child) {
      margin-right: 1.25rem;
    }

    &[aria-selected=true],
    &:hover{
      color: #6a6a6a;
    }

    &:focus {
      &:before {
        content: '';
        position: absolute;
        top: -.25rem;
        left: -.25rem;
        right: -.25rem;
        bottom: -.25rem;
        border: 2px solid #6a6a6a;
        border-radius: inherit;
        pointer-events: none;
      }
    }

    &[aria-selected=true] {
      border-bottom: 2px solid #6a6a6a;
    }
  }

  &__section {
    margin: 1.5rem 0;
  }
}
